{% extends "mail/layout.html" %}

{% block body %}
<div id="login-page">
    <div id="login-container">
        <h2 class="title">Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" id="login-form" >
            {% csrf_token %}
            <input class="form-input" autofocus type="email" name="email" placeholder="Email">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <input class="form-input" id="login-button" type="submit" value="Login">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>
{% endblock %}